@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Scheherazade+New:wght@400;700&display=swap');

*{
    margin: 0;
    text-align: center;
    font-family: 'Scheherazade';
}



header{
    font-size: 20px;
}

main{
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(110, 184, 248);
    width: 400px;
    margin: 0 0 0 36%;
}

input{
    text-align: left;
    border-style: none;
}

button{
    border-radius: 12px;
    margin: 5px 0 0 0;
} 

footer{
    font-family: 'Grey Qo', cursive;
    font-size: 17px;
}

.div_preco{
    margin: 2px 0;
}

.div_produto{
    padding: 0 14px 0 0;
}

.tabela{
    text-align: center;
    border: 1px solid;
    margin: 5px 0 0 120px;
}