@charset "UTF-8";

*{
    text-align: center;
}

main{
    height: 40%;
    width: auto;
    margin: 0 35%;
    padding: 0.3% 0 0 0;
    background-color: rgba(133, 198, 255, 0.863);
    border-radius: 5px;
}

span{
    font-size: 24px;
}

a{
    text-decoration: none;
    color: black;
    margin: 0 0 3px 0;
}