@charset "UTF-8";

*{
    text-align: center;
}

main{
    background-color: rgba(133, 198, 255, 0.863);
    margin: 0 25%;
    border-radius: 5px;
}

input{
    border-radius: 5px;
    margin: 0 0 5px 0;
}

.entrada{
    margin: 1% 0 0.5% 0; 
}