@charset "UTF-8";

*{
    text-align: center;
}

input{
    border-radius: 10px;
    margin: 0.3%;
}

body{
    background-color: rgba(176, 20, 238, 0.836);
}

table{
    margin: auto;
}

a{
    text-decoration: none;
    color: black;
}

main{
    border-radius: 10px;
    width: 25%;
    margin-left: 37.5%;
    background-color: white;
}

p{
    padding: 0 0 0 5px;
}

.entrada{
    padding: 5px 0 0 0;
}